{% extends "bootstrap/base.html" %}

{% block body %}

India Beats UK and US on Mobile Data Price
A study into the amount people pay for mobile data has found that the UK has some of the most expensive prices in Europe. From a report: The research, from price comparison site Cable.co.uk, found that one gigabyte (GB) of data cost $0.26 in India but $6.66 in the UK. The US had one of the most expensive rates -- with an average cost of $12.37 for the same amount of data. The results were "disappointing" said Cable's telecoms analyst Dan Howdle. "Despite a healthy UK marketplace, our study has uncovered that EU nations such as Finland, Poland, Denmark, Italy, Austria and France pay a fraction of what we pay in the UK for similar data usage. It will be interesting to see how our position is affected post-Brexit," he said. The study compared mobile data pricing in 230 countries around the world. The UK ranked 136th in the list. The global average was $8.53 for 1GB.<p><div class="share_submission" style="position:relative;">
<a class="slashpop" href="http://twitter.com/home?status=India+Beats+UK+and+US+on+Mobile+Data+Price%3A+http%3A%2F%2Fbit.ly%2F2TB8Nfw"><img src="https://a.fsdn.com/sd/twitter_icon_large.png"></a>
<a class="slashpop" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Ftech.slashdot.org%2Fstory%2F19%2F03%2F05%2F1544256%2Findia-beats-uk-and-us-on-mobile-data-price%3Futm_source%3Dslashdot%26utm_medium%3Dfacebook"><img src="https://a.fsdn.com/sd/facebook_icon_large.png"></a>

<a class="nobg" href="http://plus.google.com/share?url=https://tech.slashdot.org/story/19/03/05/1544256/india-beats-uk-and-us-on-mobile-data-price?utm_source=slashdot&amp;utm_medium=googleplus" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a>



</div></p><p><a href="https://tech.slashdot.org/story/19/03/05/1544256/india-beats-uk-and-us-on-mobile-data-price?utm_source=rss1.0moreanon&amp;utm_medium=feed">Read more of this story</a> at Slashdot.</p><iframe src="https://slashdot.org/slashdot-it.pl?op=discuss&amp;id=13518670&amp;smallembed=1" style="height: 300px; width: 100%; border: none;"></iframe>


{% endblock %}
