<!--
   _navbar.html

   Copyright 2018 matt <matt@matt>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->

<div>
<h1>Flask App</h1>
<div class="navbar">
 <a href="/">Home</a>
 <a href="/articles">Articles</a>
 <a href="/about">About</a>
</div>
<div>
<hr>
  <a href="/loginform">Login</a>
  <a href="/calcform">Calculator</a>
  <a href="/slashdot">Slashdot</a>
  <a href="/gchanboard">/g/ Board</a>
  <a href="/serverform">Server Send</a>
  <hr>
</div>
</div>
